.navbg {
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

.header {
    background-color: rgb(110, 110, 110);
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 8px white;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    overflow: hidden;
    background-color: rgba(138, 138, 138, 0.678);

}

.background {
    background-image: url("./background_image_1.jpg");
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(40%);
}

.card-text {
    font-family: 'Noto Sans TC', sans-serif;
    color: #ffffff;

}

.card-title {
    font-family: 'Noto Sans TC', sans-serif;
}